
      body {
      background-color:green; 
      font-family:courier
      }
      
      h1 {
      color:darkblue; 
      font-size:300%; 
      border:1px solid powderblue; 
      text-align: center
      }
      
      h2 {
      color:blue; 
      font-size:250%; 
      text-align: center
      }
      
      p {
      font-size:100%
      }
